// font style
$fz-s: 14px;
$fz-m: 16px;
$fz-l: 18px;
$fz-xl: 24px;
$fz-xxl: 36px;
$fz-3xl: 48px;
$fw-bold: 700;
$fw-black: 900;

// color style
$primary: rgba(200, 115, 54, 1);
$secondary: rgba(16, 94, 167, 1);
$info: rgba(228, 211, 204, 1);
$light: rgba(255, 251, 248, 1);
$gray: rgba(69, 69, 69, 1);

//border-radius
$radius-s: 4px;
$radius-m: 12px;
$radius-l: 20px;
$radius-xl: 25px;

$text-center: center;
$text-spacing-xs: 4px;
$text-spacing-s: 8px;
$text-spacing-m: 16px;
$text-spacing-l: 28px;

$line-h-m: 28px;
$line-h-l: 36px;
$line-h-xl: 48px;

$d-flex: flex;
$justify-center: center;
$align-center: center;